body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-video {
  object-fit: cover;
  background: fixed;
  position:fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%
}
.nav-wrapper{
  z-index: 2;
}
.sun-icon{
color: orange;
font-size: 1.5em;
}
.wrapper{
  position: relative;
  z-index: 3;
}